<section class="service-details pb-60 p-relative fix">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-12 col-sm-12">
                <div class="services-box01 mb-30" data-aos="fade-left">
                    <h5>🛡️Sigorta Poliçesi</h5>
                    <p>Hayatınızı güvence altına almanın en kolay yolu. Size özel poliçelerle geleceğe emin adımlarla ilerleyin.</p>
                    <a href="#" class="mt-15 hover-underline-animation">Detaylı Bilgi</a>
                </div>
            </div>
            <div class="col-lg-4 col-md-12 col-sm-12">
                <div class="services-box01 mb-30" data-aos="fade-up" data-aos-duration="1000">
                    <h5>💳Hızlı Ödeme</h5>
                    <p>Zahmetsiz ödeme çözümleriyle vakit kaybetmeyin. Tüm işlemleriniz anında ve güvenle gerçekleştirin.</p>
                    <a href="#" class="mt-15 hover-underline-animation">Detaylı Bilgi</a>
                </div>
            </div>                        
            <div class="col-lg-4 col-md-12 col-sm-12">
                <div class="services-box01 mb-30" data-aos="fade-right">
                    <h5>📞7/24 Destek</h5>
                    <p>İhtiyacınız olduğunda yanınızdayız! Uzman ekibimizle günün her saati destek sunuyoruz.</p>
                    <a href="#" class="mt-15 hover-underline-animation">Detaylı Bilgi</a>
                </div>
            </div>                     
        </div>
    </div>
</section>