@model List<BLCategoryArticlesViewModel>

<section id="categories-1" class="widget widget_categories">
    <h2 class="widget-title">Kategoriler</h2>
    <ul>
        @foreach (var item in Model)
        {
            <li class="cat-item cat-item-16"><a href="/Blog/GetBlogsByCategory/@item.CategoryId">@item.CategoryName</a> (@item.ArticleCount)</li>
        }
    </ul>
</section>