@model List<DSHCommentListViewModel>

<div class="col-12 col-lg-6 col-xl-6 d-flex">
    <div class="card rounded-4 w-100">
        <div class="card-header bg-transparent">
            <div class="d-flex align-items-center">
                <h6 class="mb-0">Müşteri Yorumları</h6>
                <div class="fs-5 ms-auto dropdown">
                    <div class="dropdown-toggle dropdown-toggle-nocaret cursor-pointer" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></div>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Analizi Gör</a></li>
                        <li><a class="dropdown-item" href="#">Detaylı İncele</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="#">Paylaş</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="card-body">
            <div class="review-list">
                @foreach (var item in Model)
                {
                    <div class="d-flex align-items-start">
                        <div class="review-user">
                            <img src="@item.ImageUrl" width="65" height="65" class="rounded-circle" alt="">
                        </div>
                        <div class="review-content ms-3">
                            <div class="rates cursor-pointer fs-6">
                                <i class="bx bxs-star text-warning"></i>
                                <i class="bx bxs-star text-warning"></i>
                                <i class="bx bxs-star text-warning"></i>
                                <i class="bx bxs-star text-warning"></i>
                                <i class="bx bxs-star text-warning"></i>
                            </div>
                            <div class="d-flex align-items-center mb-2">
                                <h6 class="mb-0">@item.NameSurname</h6>
                                <p class="mb-0 ms-auto">@item.CommentDate.ToString("dd MMM yyyy") </p>
                            </div>
                            <p>@item.CommentDetail</p>
                        </div>
                    </div>
                    <hr />
                }
            </div>
        </div>
    </div>
</div>