<section id="skill" class="skill-area p-relative fix pt-120">
    <div class="container">
        <div class="row justify-content-center align-items-center">
            <div class="col-lg-6 col-md-12 col-sm-12 pr-30">
                <div class="skills-img" data-aos="fade-right" data-aos-duration="1000">
                    <img src="/defaultimages/skills-img.png" alt="img" class="img">
                </div>
            </div>
            <div class="col-lg-6 col-md-12 col-sm-12">
                <div class="skills-content s-about-content" data-aos="fade-left" data-aos-duration="1000">
                    <div class="skills-title pb-20">
                        <h2>Sınıfının En İyisiyiz</h2>
                    </div>
                    <p>Alanında uzman ekibimizle, sizlere her zaman en kaliteli sigorta çözümlerini sunmayı hedefliyoruz. Güveninizi ön planda tutuyor, ihtiyaçlarınıza özel hizmet sunuyoruz.</p>
                    <div class="mt-20">
                        <div class="skills">
                            <div class="skill mb-30">
                                <div class="skill-name">Başarılı Poliçe</div>
                                <div class="skill-bar">
                                    <div class="skill-per" id="95"></div>
                                </div>
                            </div>
                            <div class="skill mb-30">
                                <div class="skill-name">Sigortacılık Deneyimi</div>
                                <div class="skill-bar">
                                    <div class="skill-per" id="98"></div>
                                </div>
                            </div>
                            <div class="skill mb-30">
                                <div class="skill-name">Dijital Poliçe</div>
                                <div class="skill-bar">
                                    <div class="skill-per" id="70"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>