@model DLHeaderContactViewModel

<div class="header-mid d-none d-md-block pt-25 pb-25">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-2 col-md-12 d-none d-md-block">
                <div class="logo">
                    <a href="index.html"><img src="/defaultimages/logo.png" alt="logo"></a>
                </div>
            </div>
            <div class="col-lg-10 col-md-10 text-right d-none d-lg-block">
                <div class="header-cta">
                    <ul>
                        <li>
                            <div class="call-box">
                                <div class="icon">
                                    <i class="fal fa-envelope"></i>
                                </div>
                                <div class="text">
                                    <strong>@Model.Email</strong>
                                    <span>Bize Yazın</span>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="call-box">
                                <div class="icon">
                                    <i class="fal fa-phone-alt"></i>
                                </div>
                                <div class="text">
                                    <strong>@Model.Phone</strong>
                                    <span>Bizi Arayın</span>
                                </div>
                            </div>
                        </li>
                        <li>
                            <a href="contact.html" class="top-btn">Rezervasyon</a>
                        </li>                                      
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>