@model DSHWidgetsViewModel

<div class="row row-cols-1 row-cols-lg-2 row-cols-xl-4">
    <div class="col">
        <div class="card rounded-4">
            <div class="card-body">
                <div class="d-flex align-items-center">
                    <div class="">
                        <p class="mb-1">Yapay Zeka Makaleleri</p>
                        <h4 class="mb-0">@Model.ArticleCount</h4>
                        <p class="mb-0 mt-2 font-13"><i class="bi bi-arrow-up"></i><span>%@Model.Rate1 Son 1 Aylık Artış</span></p>
                    </div>
                    <div class="ms-auto widget-icon bg-primary text-white">
                        <i class="bi bi-basket2"></i>
                    </div>
                </div>                     
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card rounded-4">
            <div class="card-body">
                <div class="d-flex align-items-center">
                    <div class="">
                        <p class="mb-1">Sigorta Kategorileri</p>
                        <h4 class="mb-0">@Model.CategoryCount</h4>
                        <p class="mb-0 mt-2 font-13"><i class="bi bi-arrow-up"></i><span>%@Model.Rate2 Son 1 Yıllık Artış</span></p>
                    </div>
                    <div class="ms-auto widget-icon bg-success text-white">
                        <i class="bi bi-currency-dollar"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card rounded-4">
            <div class="card-body">
                <div class="d-flex align-items-center">
                    <div class="">
                        <p class="mb-1">Gelen Yorumlar</p>
                        <h4 class="mb-0">@Model.CommentCount</h4>
                        <p class="mb-0 mt-2 font-13"><i class="bi bi-arrow-up"></i><span>%@Model.Rate3 Son 7 Gün</span></p>
                    </div>
                    <div class="ms-auto widget-icon bg-orange text-white">
                        <i class="bi bi-emoji-heart-eyes"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card rounded-4">
            <div class="card-body">
                <div class="d-flex align-items-center">
                    <div class="">
                        <p class="mb-1">Müşterilerimiz</p>
                        <h4 class="mb-0">@Model.UserCount</h4>
                        <p class="mb-0 mt-2 font-13"><i class="bi bi-arrow-up"></i><span>%@Model.Rate4 Son 1 Aylık Artış</span></p>
                    </div>
                    <div class="ms-auto widget-icon bg-info text-white">
                        <i class="bi bi-people-fill"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>