@{
    ViewData["Title"] = "CreateAboutWithGoogleGemini";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<h1>Google Gemini Hakkımızda Yazı Örneği</h1>
<br />
<hr />
<br />
<p>@ViewBag.aboutText</p>

