@model CreatePricingPlanDto

@{
    ViewData["Title"] = "CreatePricingPlan";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<div class="card">
    <div class="card-body">
        <div class="d-flex align-items-center">
            <h5 class="mb-0">Yeni Fiyat Planı Ekleme</h5>
            <br />
            <br />
        </div>
        <form method="post">
            <label>Başlık</label>
            <input type="text" asp-for="Title" class="form-control" />
            <br />
            <label>Fiyat</label>
            <input type="text" asp-for="Price" class="form-control" />
            <br />
            <div class="d-flex justify-content-end mt-4 none-border">
                <button class="btn btn-outline-success me-3 btn-rounded">Kaydet</button>
                <a href="/PricingPlan/PricingPlanList/" class="btn btn-outline-danger me-2 btn-rounded">Vazgeç</a>
            </div>
        </form>
    </div>
</div>