@model List<ResultAppUserDto>

@{
    ViewData["Title"] = "UserList";
    Layout = "~/Views/AdminLayout/Index.cshtml";
    int count = 0;
}

<div class="card">
    <div class="card-body">
        <div class="d-flex align-items-center">
            <h5 class="mb-0">InsureYOu AI Kullanıcı Listesi</h5>
            <form class="ms-auto position-relative">
                <div class="position-absolute top-50 translate-middle-y search-icon px-3"><i class="bi bi-search"></i></div>
                <input class="form-control ps-5" type="text" placeholder="Ara">
            </form>
        </div>
        <div class="table-responsive mt-3">
            <table class="table align-middle">
                <thead class="table-secondary">
                    <tr>
                        <th>#</th>
                        <th>Ad Soyad</th>
                        <th>Durum</th>
                        <th>Profil</th>
                        <th>Yorumlar</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        count++;
                        <tr>
                            <td>@count</td>
                            <td>@item.Author</td>
                            <td><a href="#" class="btn btn-outline-info">Durum</a></td>
                            <td><a href="/AppUser/UserAIAnalysis/@item.Id" class="btn btn-outline-success">Göster</a></td>
                            <td><a href="/AppUser/UserCommentsAIAnalysis/@item.Id" class="btn btn-outline-dark">Göster</a></td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>