<div id="header-sticky" class="menu-area">
    <div class="container">
        <div class="second-menu">
            <div class="row align-items-center">
                <div class="col-lg-2 col-md-12  d-lg-none d-x-none">
                    <div class="logo">
                        <a href="index.html"><img src="/default/images/logo.png" alt="logo"></a>
                    </div>
                </div>
                <div class="col-xl-11 col-lg-10">                              
                    <div class="main-menu">
                        <nav id="mobile-menu">
                            <ul>
                                <li><a href="/Default/Index/">Ana Sayfa</a></li>
                                <li><a href="#">Hakkımızda</a></li>
                                <li><a href="#">Hizmetlerimiz</a></li>
                                <li><a href="#">Paketlerimiz</a></li>
                                <li><a href="#">Bloglar</a></li>
                                <li><a href="#">Müşteri Yorumları</a></li>
                                <li><a href="#">Bize Ulaşın</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
                <div class="col-xl-1 col-lg-2 text-right d-none d-lg-block">
                    <a href="#" class="menu-tigger"><i class="fal fa-search"></i></a>
                </div>
                <div class="col-12">
                    <div class="mobile-menu"></div>
                </div>
            </div>
        </div>
    </div>
</div>