<div class="avatar__wrap text-center mb-45">
    <div class="avatar-img">
        <img src="img/blog/comment/avatar.png" alt="">
    </div>
    <div class="avatar__info">
        <h5>Zehra Şeren</h5>
        <div class="avatar__info-social">
            <a href="#"><i class="fab fa-facebook-f"></i></a>
            <a href="#"><i class="fab fa-twitter"></i></a>
            <a href="#"><i class="fab fa-instagram"></i></a>
            <a href="#"><i class="fab fa-behance"></i></a>
            <a href="#"><i class="fab fa-linkedin"></i></a>
        </div>
    </div>
    <div class="avatar__wrap-content">
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore
            et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
            aliquip ex ea commodo consequa aute irure dolor.
        </p>
    </div>
</div>