<section id="custom_html-5" class="widget_text widget widget_custom_html">
    <h2 class="widget-title">Bizi Takip Edin</h2>
    <div class="textwidget custom-html-widget">
        <div class="widget-social">
            <a href="#"><i class="fab fa-twitter"></i></a>
            <a href="#"><i class="fab fa-pinterest-p"></i></a>
            <a href="#"><i class="fab fa-facebook-f"></i></a>
            <a href="#"><i class="fab fa-instagram"></i></a>
            <a href="#"><i class="fab fa-wordpress"></i></a>
        </div>
    </div>
</section>