<div class="col-12 col-lg-4 col-xl-4 d-flex">
    <div class="card w-100 rounded-4">
        <div class="card-body">
            <div class="d-flex align-items-center mb-3">
                <h6 class="mb-0">AI Grafik Portföyü</h6>
                <div class="fs-5 ms-auto dropdown">
                    <div class="dropdown-toggle dropdown-toggle-nocaret cursor-pointer" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></div>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Analizi Gör</a></li>
                        <li><a class="dropdown-item" href="#">Detaylı İncele</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="#">Paylaş</a></li>
                    </ul>
                </div>
            </div>
            <div id="chart2"></div>
        </div>
        <ul class="list-group list-group-flush mb-0 shadow-none">
            <li class="list-group-item bg-transparent border-top"><i class="bi bi-circle-fill me-2 font-weight-bold text-primary"></i> Tamamlanan <span class="float-end">120</span></li>
            <li class="list-group-item bg-transparent"><i class="bi bi-circle-fill me-2 font-weight-bold text-orange"></i> Devam Ediyor <span class="float-end">110</span></li>
            <li class="list-group-item bg-transparent"><i class="bi bi-circle-fill me-2 font-weight-bold text-info"></i> Yeni Başlayan <span class="float-end">70</span></li>
        </ul>
    </div>
</div>