<li class="nav-item dropdown dropdown-large">
    <a class="nav-link dropdown-toggle dropdown-toggle-nocaret" href="#" data-bs-toggle="dropdown">
        <div class="projects">
            <i class="bi bi-grid-3x3-gap-fill"></i>
        </div>
    </a>
    <div class="dropdown-menu dropdown-menu-end">
        <div class="row row-cols-3 gx-2">
            <div class="col">
                <a href="ecommerce-orders.html">
                    <div class="apps p-2 radius-10 text-center">
                        <div class="apps-icon-box mb-1 text-white bg-gradient-purple">
                            <i class="bi bi-basket2-fill"></i>
                        </div>
                        <p class="mb-0 apps-name">Talepler</p>
                    </div>
                </a>
            </div>
            <div class="col">
                <a href="javascript:;">
                    <div class="apps p-2 radius-10 text-center">
                        <div class="apps-icon-box mb-1 text-white bg-gradient-info">
                            <i class="bi bi-people-fill"></i>
                        </div>
                        <p class="mb-0 apps-name">Kullanıcılar</p>
                    </div>
                </a>
            </div>
            <div class="col">
                <a href="ecommerce-products-grid.html">
                    <div class="apps p-2 radius-10 text-center">
                        <div class="apps-icon-box mb-1 text-white bg-gradient-success">
                            <i class="bi bi-trophy-fill"></i>
                        </div>
                        <p class="mb-0 apps-name">Sigortalar</p>
                    </div>
                </a>
            </div>
            <div class="col">
                <a href="component-media-object.html">
                    <div class="apps p-2 radius-10 text-center">
                        <div class="apps-icon-box mb-1 text-white bg-gradient-danger">
                            <i class="bi bi-collection-play-fill"></i>
                        </div>
                        <p class="mb-0 apps-name">Medya</p>
                    </div>
                </a>
            </div>
            <div class="col">
                <a href="pages-user-profile.html">
                    <div class="apps p-2 radius-10 text-center">
                        <div class="apps-icon-box mb-1 text-white bg-gradient-warning">
                            <i class="bi bi-person-circle"></i>
                        </div>
                        <p class="mb-0 apps-name">Hesabım</p>
                    </div>
                </a>
            </div>
            <div class="col">
                <a href="javascript:;">
                    <div class="apps p-2 radius-10 text-center">
                        <div class="apps-icon-box mb-1 text-white bg-gradient-voilet">
                            <i class="bi bi-file-earmark-text-fill"></i>
                        </div>
                        <p class="mb-0 apps-name">Dokümanlar</p>
                    </div>
                </a>
            </div>
            <div class="col">
                <a href="ecommerce-orders-detail.html">
                    <div class="apps p-2 radius-10 text-center">
                        <div class="apps-icon-box mb-1 text-white bg-gradient-branding">
                            <i class="bi bi-credit-card-fill"></i>
                        </div>
                        <p class="mb-0 apps-name">Ödemeler</p>
                    </div>
                </a>
            </div>
            <div class="col">
                <a href="javascript:;">
                    <div class="apps p-2 radius-10 text-center">
                        <div class="apps-icon-box mb-1 text-white bg-gradient-desert">
                            <i class="bi bi-calendar-check-fill"></i>
                        </div>
                        <p class="mb-0 apps-name">Toplantılar</p>
                    </div>
                </a>
            </div>
            <div class="col">
                <a href="javascript:;">
                    <div class="apps p-2 radius-10 text-center">
                        <div class="apps-icon-box mb-1 text-white bg-gradient-amour">
                            <i class="bi bi-book-half"></i>
                        </div>
                        <p class="mb-0 apps-name">Bloglar</p>
                    </div>
                </a>
            </div>
        </div>
    </div>
</li>