<div id="comments" class="comments-area  mt-45">
    <div id="respond" class="comment-respond">
        <h3 id="reply-title" class="comment-reply-title">Yorum Yap <small><a rel="nofollow" id="cancel-comment-reply-link" href="/finco/?p=2112#respond" style="display:none;">Yorumu İptal Et</a></small></h3>
        <form asp-controller="Blog" asp-action="AddComment" method="post" id="commentform" class="comment-form" novalidate="">
            <p class="comment-field"><i class="fas fa-globe"></i><input id="url" name="url" placeholder="http://your-site-name.com" type="text"> </p>
            <p class="comment-form-comment"><label for="comment">Yorum</label> <textarea id="comment" name="CommentDetail" cols="45" rows="8" maxlength="65525" required="required" placeholder="Buraya yorumunuzu yazabilirsiniz"></textarea></p>
            <p class="form-submit">
                <input type="hidden" name="ArticleId" value="@Model" />
                <input name="submit" type="submit" id="submit" class="submit" value="Yorum Yap">
            </p>
        </form>
    </div>
</div>