@model int

@{
    Layout = null;
}

<!doctype html>
<html class="no-js" lang="zxx">

@await Component.InvokeAsync("_DLHeadComponentPartial")

<body>

    <header class="header-area header-three">
       
        @await Component.InvokeAsync("_DLHeaderComponentPartial")

        @await Component.InvokeAsync("_DLHeaderContactComponentPartial")

        @await Component.InvokeAsync("_DLNavbarComponentPartial")

    </header>

    @await Component.InvokeAsync("_DLMobileMenuComponentPartial")

    <main>
        <section class="inner-blog b-details-p pt-120 pb-120">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8">
                        <div class="blog-details-wrap">

                            @await Component.InvokeAsync("_BDArticleContentComponentPartial", new { articleId = Model })
                            
                            @await Component.InvokeAsync("_BDNextAndPreviousPostComponentPartial")

                            @await Component.InvokeAsync("_BDAuthorInfoComponentPartial")

                            <div class="comment__wrap pb-45">
                                <div class="comment__wrap-title">
                                    <h5>Comments</h5>
                                </div>
                                <div class="single__comment mb-35">
                                    <div class="comments-avatar">
                                        <img src="img/blog/comment/c_01.png" alt="">
                                    </div>
                                    <div class="comment-text">
                                        <div class="avatar-name mb-15">
                                            <h6>ALina Kelian</h6>
                                            <span>19th May 2021</span>
                                        </div>
                                        <p>The bee's knees bite your arm off bits and bobs he nicked it gosh gutted mate blimey, old off his nut argy bargy vagabond buggered dropped.</p>
                                        <a href="#" class="comment-reply mt-15"><i class="fas fa-reply"></i> Reply</a>
                                    </div>
                                </div>
                                <div class="single__comment children mb-35">
                                    <div class="comments-avatar">
                                        <img src="img/blog/comment/c_02.png" alt="">
                                    </div>
                                    <div class="comment-text">
                                        <div class="avatar-name mb-15">
                                            <h6>Rlex Kelian <i class="fas fa-bookmark"></i></h6>
                                            <span>19th May 2021</span>
                                        </div>
                                        <p>Do one say wind up buggered bobby bite your arm off gutted mate, David victoria sponge cup of char chap fanny around.</p>
                                        <a href="#" class="comment-reply mt-15"><i class="fas fa-reply"></i> Reply</a>
                                    </div>
                                </div>
                                <div class="single__comment">
                                    <div class="comments-avatar">
                                        <img src="img/blog/comment/c_03.png" alt="">
                                    </div>
                                    <div class="comment-text">
                                        <div class="avatar-name mb-15">
                                            <h6>Roboto Alex</h6>
                                            <span>21th May 2021</span>
                                        </div>
                                        <p>Baking cakes is cobblers wellies William geeza bits and bobs what a plonker it's your round,</p>
                                        <a href="#" class="comment-reply mt-15"><i class="fas fa-reply"></i> Reply</a>
                                    </div>
                                </div>
                            </div>

                            @await Html.PartialAsync("AddComment")
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-12 col-lg-4">
                        <aside class="sidebar-widget">
                          
                            @await Html.PartialAsync("SearchBlogs")
                            
                            @await Component.InvokeAsync("_BLSocialMediaComponentPartial")

                            @await Component.InvokeAsync("_BLCategoriesComponentPartial")
                            
                            @await Component.InvokeAsync("_BLTopArticlesComponentPartial")
                           
                            @await Component.InvokeAsync("_BLTagsComponentPartial")

                        </aside>
                    </div>
                </div>
            </div>
        </section>

        @await Html.PartialAsync("SubscribeEmail")

    </main>

    @await Component.InvokeAsync("_DLFooterComponentPartial")
   
    @await Component.InvokeAsync("_DLScriptsComponentPartial")

</body>
</html>
