<section id="search-3" class="widget widget_search">
    <h2 class="widget-title">Arama</h2>
    <form role="search" method="get" class="search-form" action="#">
        <label>
            <span class="screen-reader-text">anahtar Kelimeler:</span>
            <input type="search" class="search-field" placeholder="Aranacak kelimeler..." value="" name="s" />
        </label>
        <input type="submit" class="search-submit" value="Blogu Getir" />
    </form>
</section>