<div class="posts_navigation pt-35 pb-35">
    <div class="row align-items-center">
        <div class="col-xl-4 col-md-5">
            <div class="prev-link">
                <span>Önceki Gönderi</span>
                <h4><a href="#">Tips Minimalist</a></h4>
            </div>
        </div>
        <div class="col-xl-4 col-md-2 text-left text-md-center">
            <a href="blog.html" class="blog-filter"><img src="/defaultimages/blog/c_d01.png" alt=""></a>
        </div>
        <div class="col-xl-4 col-md-5">
            <div class="next-link text-left text-md-right">
                <span>Sonraki Gönderi</span>
                <h4><a href="#">Deneme Yapıyoruz Bakalım Nasıl Olacak?</a></h4>
            </div>
        </div>
    </div>
</div>