<aside class="sidebar-wrapper" data-simplebar="true">
    <div class="sidebar-header">
        <div>
            <img src="/snacked/ltr/assets/images/logo-icon.png" class="logo-icon" alt="logo icon">
        </div>
        <div>
            <h4 class="logo-text">Admin Paneli</h4>
        </div>
        <div class="toggle-icon ms-auto">
            <i class="bi bi-list"></i>
        </div>
    </div>
    <ul class="metismenu" id="menu">
        <li>
            <a href="/Category/CategoryList/">
                <div class="parent-icon">
                    <i class="bi bi-list"></i>
                </div>
                <div class="menu-title">Kategoriler</div>
            </a>
        </li>
        <li>
            <a href="/About/AboutList/">
                <div class="parent-icon">
                    <i class="lni lni-grow"></i>
                </div>
                <div class="menu-title">Hakkımızda</div>
            </a>
        </li>
        <li>
            <a href="/AboutItem/AboutItemList/">
                <div class="parent-icon">
                    <i class="lni lni-circle-plus"></i>
                </div>
                <div class="menu-title">Hakkımızda Maddeleri</div>
            </a>
        </li>
        <li>
            <a href="/Contact/ContactList/">
                <div class="parent-icon">
                    <i class="bi bi-globe"></i>
                </div>
                <div class="menu-title">İletişim</div>
            </a>
        </li>
        <li>
            <a href="/Message/MessageList/">
                <div class="parent-icon">
                    <i class="bx bx-message-square-detail"></i>
                </div>
                <div class="menu-title">Mesaj</div>
            </a>
        </li>
        <li>
            <a href="/PricingPlan/PricingPlanList/">
                <div class="parent-icon">
                    <i class="bi bi-credit-card-fill"></i>
                </div>
                <div class="menu-title">Ödeme Planları</div>
            </a>
        </li>
        <li>
            <a href="/Service/ServiceList/">
                <div class="parent-icon">
                    <i class="bi bi-slack"></i>
                </div>
                <div class="menu-title">Hizmetler</div>
            </a>
        </li>
        <li>
            <a href="/Slider/SliderList/">
                <div class="parent-icon">
                    <i class="bi bi-sliders"></i>
                </div>
                <div class="menu-title">Slider</div>
            </a>
        </li>
        <li>
            <a href="/Testimonial/TestimonialList/">
                <div class="parent-icon">
                    <i class="bi bi-people-fill"></i>
                </div>
                <div class="menu-title">Referanslar</div>
            </a>
        </li>
        <li>
            <a href="/TrailerVideo/TrailerVideoList/">
                <div class="parent-icon">
                    <i class="bx bx-camera-movie"></i>
                </div>
                <div class="menu-title">Tanıtım Videosu</div>
            </a>
        </li>
    </ul>
</aside>