@model List<DLTrailerVideoViewModel>

@foreach (var item in Model)
{
    <section id="video" class="video-area p-relative" data-aos="fade-up" data-aos-duration="1000">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="s-video-wrap" style="background-image:url(@item.CoverImageUrl)">
                        <div class="s-video-content text-center">
                            <h2>@item.Title</h2>
                            <h6>
                                <a href="@item.VideoUrl" class="popup-video mb-50"><img src="/defaultimages/play-button.png" alt="circle_right"></a><br>
                                Tanıtım Videomuzu İzleyin
                            </h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
}