@model UpdateServiceDto

@{
    ViewData["Title"] = "UpdateService";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<div class="card">
    <div class="card-body">
        <div class="d-flex align-items-center">
            <h5 class="mb-0">Sigorta Hizmeti Güncelleme</h5>
            <br />
            <br />
        </div>
        <form method="post">
            <input type="hidden" asp-for="ServiceId" />
            <label>Başlık</label>
            <input type="text" asp-for="Title" class="form-control" />
            <br />
            <label>Açıklama</label>
            <input type="text" asp-for="Description" class="form-control" />
            <br />
            <label>Icon Url</label>
            <input type="text" asp-for="IconUrl" class="form-control" />
            <br />
            <label>Görsel Url</label>
            <input type="text" asp-for="ImageUrl" class="form-control" />
            <br />
            <div class="d-flex justify-content-end mt-4 none-border">
                <button class="btn btn-outline-success me-3 btn-rounded">Güncelle</button>
                <a href="/Service/ServiceList/" class="btn btn-outline-danger me-2 btn-rounded">Vazgeç</a>
            </div>
        </form>
    </div>
</div>