@model List<ResultCommentDto>

@{
    ViewData["Title"] = "CommentList";
    Layout = "~/Views/AdminLayout/Index.cshtml";
    int count = 0;
}

<div class="card">
    <div class="card-body">
        <div class="d-flex align-items-center">
            <h5 class="mb-0">Sigorta Makaleleri Kullanıcı Yorumları</h5>
            <form class="ms-auto position-relative">
                <div class="position-absolute top-50 translate-middle-y search-icon px-3"><i class="bi bi-search"></i></div>
                <input class="form-control ps-5" type="text" placeholder="Ara">
            </form>
        </div>
        <div class="table-responsive mt-3">
            <table class="table align-middle">
                <thead class="table-secondary">
                    <tr>
                        <th>#</th>
                        <th>Ad Soyad</th>
                        <th>Makale</th>
                        <th>Tarih</th>
                        <th>Durum</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        count++;
                        <tr>
                            <td>@count</td>
                            <td>@item.NameSurname</td>
                            <td>@item.ArticleTitle</td>
                            <td>@item.CommentDate.ToString("dd MMM yyyy")</td>
                            <td>
                                <div class="table-actions d-flex align-items-center gap-3 fs-6">
                                
                                    <!-- Confirm -->
                                    <a href="/Comment/ConfirmComment/@item.CommentId" class="text-success" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Onayla"><i class="bi bi-pencil-fill"></i></a>
                                
                                    <!-- Remove Comment -->
                                    <a href="/Comment/DeleteComment/@item.CommentId" class="text-danger" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Yorumu Kaldır"><i class="bi bi-x-circle-fill"></i></a>

                                    <!-- Pending -->
                                    <a href="/Comment/GetComment/@item.CommentId" class="text-warning" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Onay Bekliyor"><i class="bi bi-eye-fill"></i></a>

                                    <!-- Delete Comment -->
                                    <a href="/Comment/RemoveComment/@item.CommentId" class="text-secondary" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Sil"><i class="bi bi-trash-fill"></i></a>

                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
