@model UpdateArticleDto

@{
    ViewData["Title"] = "UpdateArticle";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<div class="card">
    <div class="card-body">
        <div class="d-flex align-items-center">
            <h5 class="mb-0">Makale Güncelleme</h5>
            <br />
        </div>
        <form method="post">
            <input type="hidden" asp-for="ArticleId" />
            <label>Başlık</label>
            <input type="text" asp-for="Title" class="form-control" />
            <br />
            <label>Kapak Fotoğrafı Url</label>
            <input type="text" asp-for="CoverImageUrl" class="form-control" />
            <br />
            <label>Ana Kapak Fotoğrafı Url</label>
            <input type="text" asp-for="MainCoverImageUrl" class="form-control" />
            <br />
            <label>Kategori</label>
            <input type="text" asp-for="CategoryId" class="form-control" />
            <br />
            <label>İçerik</label>
            <textarea asp-for="Content" rows="15" class="form-control"></textarea>
            <br />
            <div class="d-flex justify-content-end mt-4 none-border">
                <button class="btn btn-outline-success me-3 btn-rounded">Güncelle</button>
                <a href="/Article/ArticleList/" class="btn btn-outline-danger me-2 btn-rounded">Vazgeç</a>
            </div>
        </form>
    </div>
</div>