@{
    Layout = null;
}

<!doctype html>
<html class="no-js" lang="zxx">

@await Component.InvokeAsync("_DLHeadComponentPartial")

<body>

    <header class="header-area header-three">

        @await Component.InvokeAsync("_DLHeaderComponentPartial")

        @await Component.InvokeAsync("_DLHeaderContactComponentPartial")

        @await Component.InvokeAsync("_DLNavbarComponentPartial")
       
    </header>
 
    @await Component.InvokeAsync("_DLMobileMenuComponentPartial")

    <main>
       
        @await Component.InvokeAsync("_DLSliderComponentPartial")
        
        @await Component.InvokeAsync("_DLAboutComponentPartial")

        @await Component.InvokeAsync("_DLInsureServiceComponentPartial")

        @await Component.InvokeAsync("_DLTrailerVideoComponentPartial")
        
        @await Component.InvokeAsync("_DLServiceComponentPartial")

        @await Component.InvokeAsync("_DLCounterComponentPartial")

        @await Component.InvokeAsync("_DLSkillComponentPartial")

        @await Component.InvokeAsync("_DLPricingPlanComponentPartial")

        @await Component.InvokeAsync("_DLTestimonialComponentPartial")

        @await Component.InvokeAsync("_DLGalleryComponentPartial")

        <!-- blog-area -->
        <section id="blog" class="blog-area p-relative fix pt-90 pb-90">
            <div class="container">
                <div class="row align-items-center mb-50">
                    <div class="col-lg-6 col-md-6">
                        <div class="section-title center-align " data-aos="fade-up" data-aos-duration="1000">
                            <h2>
                                Read Latest News
                            </h2>
                               
                        </div>
                           
                    </div>
                    <div class="col-lg-6 col-md-6 text-right  d-none d-lg-block">
                        <a href="#contact" class="btn ss-btn" data-aos="fade-up" data-aos-duration="1000">More News </a>
                    </div>
                </div>
                <div class="row" data-aos="fade-up" data-aos-duration="1400">
                    <div class="col-lg-4 col-md-6">
                        <div class="single-post2 hover-zoomin mb-30 wow fadeInUp animated" data-animation="fadeInUp" data-delay=".4s">
                            <div class="blog-thumb2">
                                <a href="blog-details.html"><img src="img/blog/inner_b1.jpg" alt="img"></a>
                            </div>
                            <div class="blog-content2">
                                <div class="b-meta">
                                    <div class="meta-info">
                                        <ul>
                                            <li><i class="fal fa-user"></i> Admin</li>
                                            <li><i class="fal fa-calendar-alt"></i> 24th March 2021</li>

                                        </ul>
                                    </div>
                                </div>
                                <h4><a href="blog-details.html">Cras accumsan nulla nec lacus ultricies placerat.</a></h4>
                                <p>Curabitur sagittis libero tincidunt tempor finibus. Mauris at dignissim ligula, nec tristique orci.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="single-post2 mb-30 hover-zoomin wow fadeInUp animated" data-animation="fadeInUp" data-delay=".4s">
                            <div class="blog-thumb2">
                                <a href="blog-details.html"><img src="img/blog/inner_b2.jpg" alt="img"></a>
                            </div>
                            <div class="blog-content2">
                                <div class="b-meta">
                                    <div class="meta-info">
                                        <ul>
                                            <li><i class="fal fa-user"></i> Admin</li>
                                            <li><i class="fal fa-calendar-alt"></i> 24th March 2021</li>

                                        </ul>
                                    </div>
                                </div>
                                <h4><a href="blog-details.html">Dras accumsan nulla nec lacus ultricies placerat.</a></h4>
                                <p>Curabitur sagittis libero tincidunt tempor finibus. Mauris at dignissim ligula, nec tristique orci.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="single-post2 mb-30 hover-zoomin wow fadeInUp animated" data-animation="fadeInUp" data-delay=".4s">
                            <div class="blog-thumb2">
                                <a href="blog-details.html"><img src="img/blog/inner_b3.jpg" alt="img"></a>
                            </div>
                            <div class="blog-content2">
                                <div class="b-meta">
                                    <div class="meta-info">
                                        <ul>
                                            <li><i class="fal fa-user"></i> Admin</li>
                                            <li><i class="fal fa-calendar-alt"></i> 24th March 2021</li>

                                        </ul>
                                    </div>
                                </div>
                                <h4><a href="blog-details.html">Seas accumsan nulla nec lacus ultricies placerat.</a></h4>
                                <p>Curabitur sagittis libero tincidunt tempor finibus. Mauris at dignissim ligula, nec tristique orci.</p>
                            </div>
                        </div>
                    </div>
                
                        
                </div>
            </div>
        </section>
        <!-- blog-area-end -->
        <!-- contact-area -->
        <section id="contact" class="contact-area after-none contact-bg pb-120 p-relative fix">
            <div class="container">
             
                <div class="row">
						
                    <div class="col-lg-6 col-md-12 order-1">
                        <img src="img/bg/contact-img.png" alt="img" data-aos="fade-right" data-aos-duration="1000">
                    </div>
                    <div class="col-lg-6 col-md-12 order-2">
                        <div class="section-title p-relative pr-60 mb-30">
                            <h2 data-aos="fade-up" data-aos-duration="1000">
                                Get Insurance Quote With Us
                            </h2>
                            <ul class="nav nav-tabs" data-aos="fade-up" data-aos-duration="1400">
                                <li>
                                    <span class="active" id="home-tab" data-bs-toggle="tab" data-bs-target="#voverview">Travel Insurance</span>
                                </li>
                                <li>
                                    <span id="profile-tab" data-bs-toggle="tab" data-bs-target="#degre">Home Insurance   </span>
                                </li>
                                <li>
                                    <span id="contact-tab" data-bs-toggle="tab" data-bs-target="#vgallery" aria-controls="vgallery">Life Insurance</span>
                                </li>
                            </ul>
                           
                        </div>
                        <div class="tab-content" id="myTabContent" data-aos="fade-up" data-aos-duration="1600">
                            <div class="tab-pane fade show active" id="voverview" role="tabpanel">
                                <div class="contact-bg">
                                    <form action="mail.php" method="post" class="contact-form">
                                        <div class="row">
                                            <div class="col-lg-6">
                                                <div class="contact-field p-relative c-name mb-20">
                                                    <input type="text" id="firstn" name="firstn" placeholder="First Name" required>
                                                </div>
                                            </div>

                                            <div class="col-lg-6">
                                                <div class="contact-field p-relative c-subject mb-20">
                                                    <input type="text" id="email" name="email" placeholder="info" required>
                                                </div>
                                            </div>
                                            <div class="col-lg-6">
                                                <div class="contact-field p-relative c-name mb-20">
                                                    <input type="text" id="phone" name="phone" placeholder="Phone No." required>
                                                </div>
                                            </div>

                                            <div class="col-lg-6">
                                                <div class="contact-field p-relative c-subject mb-20">
                                                    <input type="text" id="tp" name="email" placeholder="Total Person" required>
                                                </div>
                                            </div>
                                            <div class="col-lg-6">
                                                <div class="contact-field p-relative c-name mb-20">
                                                    <input type="text" id="des" name="destination" placeholder="Destination" required>
                                                </div>
                                            </div>

                                            <div class="col-lg-6">
                                                <div class="contact-field p-relative c-subject mb-20">
                                                    <input type="text" id="sty" name="stay" placeholder="Days To Stay" required>
                                                </div>
                                            </div>
                                            <div class="col-lg-12">
                                                <div class="slider-btn mt-20">
                                                    <button class="btn ss-btn" data-animation="fadeInRight" data-delay=".8s">Submit Request</button>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="degre" role="tabpanel">
                                <div class="contact-bg">
                                    <form action="mail.php" method="post" class="contact-form">
                                        <div class="row">
                                            <div class="col-lg-6">
                                                <div class="contact-field p-relative c-name mb-20">
                                                    <input type="text" id="firstn2" name="firstn" placeholder="First Name" required>
                                                </div>
                                            </div>

                                            <div class="col-lg-6">
                                                <div class="contact-field p-relative c-subject mb-20">
                                                    <input type="text" id="email4" name="email" placeholder="info" required>
                                                </div>
                                            </div>
                                            <div class="col-lg-6">
                                                <div class="contact-field p-relative c-name mb-20">
                                                    <input type="text" id="phone2" name="phone" placeholder="Phone No." required>
                                                </div>
                                            </div>

                                            <div class="col-lg-6">
                                                <div class="contact-field p-relative c-subject mb-20">
                                                    <input type="text" id="tp2" name="email" placeholder="Total Person" required>
                                                </div>
                                            </div>
                                            <div class="col-lg-6">
                                                <div class="contact-field p-relative c-name mb-20">
                                                    <input type="text" id="des2" name="destination" placeholder="Destination" required>
                                                </div>
                                            </div>

                                            <div class="col-lg-6">
                                                <div class="contact-field p-relative c-subject mb-20">
                                                    <input type="text" id="sty2" name="stay" placeholder="Days To Stay" required>
                                                </div>
                                            </div>
                                            <div class="col-lg-12">
                                                <div class="slider-btn mt-20">
                                                    <button class="btn ss-btn" data-animation="fadeInRight" data-delay=".8s">Submit Request</button>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="vgallery" role="tabpanel">
                                <div class="contact-bg">
                                    <form action="mail.php" method="post" class="contact-form">
                                        <div class="row">
                                            <div class="col-lg-6">
                                                <div class="contact-field p-relative c-name mb-20">
                                                    <input type="text" id="firstn3" name="firstn" placeholder="First Name" required>
                                                </div>
                                            </div>

                                            <div class="col-lg-6">
                                                <div class="contact-field p-relative c-subject mb-20">
                                                    <input type="text" id="email3" name="email" placeholder="info" required>
                                                </div>
                                            </div>
                                            <div class="col-lg-6">
                                                <div class="contact-field p-relative c-name mb-20">
                                                    <input type="text" id="phone3" name="phone" placeholder="Phone No." required>
                                                </div>
                                            </div>

                                            <div class="col-lg-6">
                                                <div class="contact-field p-relative c-subject mb-20">
                                                    <input type="text" id="tp3" name="email" placeholder="Total Person" required>
                                                </div>
                                            </div>
                                            <div class="col-lg-6">
                                                <div class="contact-field p-relative c-name mb-20">
                                                    <input type="text" id="des3" name="destination" placeholder="Destination" required>
                                                </div>
                                            </div>

                                            <div class="col-lg-6">
                                                <div class="contact-field p-relative c-subject mb-20">
                                                    <input type="text" id="sty3" name="stay" placeholder="Days To Stay" required>
                                                </div>
                                            </div>
                                            <div class="col-lg-12">
                                                <div class="slider-btn mt-20">
                                                    <button class="btn ss-btn" data-animation="fadeInRight" data-delay=".8s">Submit Request</button>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div>
                
            </div>
               
        </section>
        <!-- contact-area-end -->
        <!-- newslater-area -->
        <section class="newslater-area" data-aos="fade-up" data-aos-duration="1000">
            <div class="container" style="background-image: url(img/bg/newslater-bg.png); background-repeat: no-repeat; background-size: cover;">
                <div class="row">
                       
                    <div class="col-xl-12 col-lg-12 col-md-12">
                        <div class="section-title mb-25 text-center">
                            <h2>Subscribe To Newsletter</h2>
                            <p>Since 2007 we have been a visionary and a reliable insurance partner for world-class insurance.</p>
                        </div>
                        <form name="ajax-form" id="contact-form4" action="#" method="post" class="contact-form newslater">
                            <div class="form-group">
                                <input class="form-control" id="email2" name="email" type="email" placeholder="Email Address..." value="" required="">
                                <button type="submit" class="btn btn-custom" id="send2">Subscribe Now</button>
                            </div>
                              
                        </form>
                    </div>
                        
                </div>
            </div>
        </section>
        <!-- newslater-aread-end -->
    </main>
    <!-- main-area-end -->
    <!-- footer -->
    <footer class="footer-bg footer-p pt-240" style="background-color: #28314b;">
        <div class="footer-top pb-70">
            <div class="container">
                <div class="row justify-content-between">
                        
                    <div class="col-xl-4 col-lg-4 col-sm-6">
                        <div class="footer-widget mb-30" data-aos="fade-up" data-aos-duration="1000">
                            <div class="f-widget-title">
                                <h2> <img src="img/logo/f_logo.png" alt="img"></h2>
                            </div>
                            <div class="f-contact">
                                <p>Suspendisse non sem ante. Cras pretium gravida leo a convallis. Nam malesuada interdum metus, sit amet dictum ante congue eu. Maecenas ut maximus enim.</p>
                                    
                            </div>
                            <div class="footer-social mt-10">
                                <a href="#"><i class="fab fa-facebook-f"></i></a>
                                <a href="#"><i class="fab fa-instagram"></i></a>
                                <a href="#"><i class="fab fa-twitter"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-2 col-lg-2 col-sm-6">
                        <div class="footer-widget mb-30" data-aos="fade-up" data-aos-duration="1400">
                            <div class="f-widget-title">
                                <h2>Our Links</h2>
                            </div>
                            <div class="footer-link">
                                <ul>
                                    <li><a href="index.html">Home</a></li>
                                    <li><a href="about.html"> About</a></li>
                                    <li><a href="services.html"> Services </a></li>
                                    <li><a href="contact.html"> Contact Us</a></li>
                                    <li><a href="blog.html">Blog </a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-sm-6">
                        <div class="footer-widget mb-30" data-aos="fade-up" data-aos-duration="1600">
                            <div class="f-widget-title">
                                <h2>Contact Us</h2>
                            </div>
                            <div class="f-contact">
                                <ul>
                                    <li>
                                        <i class="icon fal fa-phone"></i>
                                        <span>1800-121-3637<br>+91-7052-101-786</span>
                                    </li>
                                    <li>
                                        <i class="icon fal fa-envelope"></i>
                                        <span>
                                            <a href="mailto:info@example.com">info@example.com</a>
                                            <br>
                                            <a href="mailto:help@example.com">help@example.com</a>
                                        </span>
                                    </li>
                                    <li>
                                        <i class="icon fal fa-map-marker-check"></i>
                                        <span>1247/Plot No. 39, 15th Phase,<br> LHB Colony, Kanpur</span>
                                    </li>
                                    
                                </ul>
                                    
                            </div>
                                
                        </div>
                    </div>
                        
                    <div class="col-xl-3 col-lg-3 col-sm-6">
                        <div class="footer-widget mb-30" data-aos="fade-up" data-aos-duration="1800">
                            <div class="f-widget-title">
                                <h2>Latest Post</h2>
                            </div>
                            <div class="recent-blog-footer">
                                <ul>
                                    <li>
                                        <div class="thum"> <img src="img/blog/s-blogimg-01.png" alt="img"></div>
                                        <div class="text">
                                            <a href="#">Nothing impossble to need hard work</a>
                                            <span>7 March, 2020</span>
                                        </div>
                                    </li>
                                        
                                    <li>
                                        <div class="thum"> <img src="img/blog/s-blogimg-02.png" alt="img"></div>
                                        <div class="text">
                                            <a href="#">Nothing impossble to need hard work</a>
                                            <span>7 March, 2020</span>
                                        </div>
                                    </li>
                                    
                                </ul>
                                   
                                     
                            </div>
                        </div>
                    </div>
                       
                </div>
            </div>
        </div>
        <div class="copyright-wrap">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-12">
                        <div class="copy-text text-center">
                            Copyright &copy; Insureyou 2022 . All rights reserved.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- footer-end -->
    <!-- JS here -->
    <script src="/insureyou/js/vendor/modernizr-3.5.0.min.js"></script>
    <script src="/insureyou/js/vendor/jquery-3.6.0.min.js"></script>
    <script src="/insureyou/js/popper.min.js"></script>
    <script src="/insureyou/js/bootstrap.min.js"></script>
    <script src="/insureyou/js/slick.min.js"></script>
    <script src="/insureyou/js/ajax-form.js"></script>
    <script src="/insureyou/js/paroller.js"></script>
    <script src="/insureyou/js/wow.min.js"></script>
    <script src="/insureyou/js/js_isotope.pkgd.min.js"></script>
    <script src="/insureyou/js/imagesloaded.min.js"></script>
    <script src="/insureyou/js/parallax.min.js"></script>
    <script src="/insureyou/js/jquery.waypoints.min.js"></script>
    <script src="/insureyou/js/jquery.counterup.min.js"></script>
    <script src="/insureyou/js/jquery.scrollUp.min.js"></script>
    <script src="/insureyou/js/jquery.meanmenu.min.js"></script>
    <script src="/insureyou/js/parallax-scroll.js"></script>
    <script src="/insureyou/js/swiper.min.js"></script>
    <script src="/insureyou/js/aos.js"></script>
    <script src="/insureyou/js/jquery.magnific-popup.min.js"></script>
    <script src="/insureyou/js/element-in-view.js"></script>
    <script src="/insureyou/js/main.js"></script>
</body>
</html>