@{
    Layout = null;
}

<!doctype html>
<html class="no-js" lang="zxx">

@await Component.InvokeAsync("_DLHeadComponentPartial")

<body>

    <header class="header-area header-three">

        @await Component.InvokeAsync("_DLHeaderComponentPartial")

        @await Component.InvokeAsync("_DLHeaderContactComponentPartial")

        @await Component.InvokeAsync("_DLNavbarComponentPartial")
       
    </header>
 
    @await Component.InvokeAsync("_DLMobileMenuComponentPartial")

    <main>
       
        @await Component.InvokeAsync("_DLSliderComponentPartial")
        
        @await Component.InvokeAsync("_DLAboutComponentPartial")

        @await Component.InvokeAsync("_DLInsureServiceComponentPartial")

        @await Component.InvokeAsync("_DLTrailerVideoComponentPartial")
        
        @await Component.InvokeAsync("_DLServiceComponentPartial")

        @await Component.InvokeAsync("_DLCounterComponentPartial")

        @await Component.InvokeAsync("_DLSkillComponentPartial")

        @await Component.InvokeAsync("_DLPricingPlanComponentPartial")

        @await Component.InvokeAsync("_DLTestimonialComponentPartial")

        @await Component.InvokeAsync("_DLGalleryComponentPartial")

        @await Component.InvokeAsync("_DLLast3ArticleComponentPartial")

        @await Html.PartialAsync("SendMessage")

        @await Html.PartialAsync("SubscribeEmail")

    </main>

    @await Component.InvokeAsync("_DLFooterComponentPartial")
   
    @await Component.InvokeAsync("_DLScriptsComponentPartial")

</body>
</html>