@{
    Layout = null;
}

<!doctype html>
<html lang="en" class="semi-dark">

@await Component.InvokeAsync("_ALHeadComponentPartial")

<body>
    
    <div class="wrapper">
        
        @await Component.InvokeAsync("_ALNavbarComponentPartial")
        
        @await Component.InvokeAsync("_ALSidebarComponentPartial")
       
        <main class="page-content">
        
            @await Component.InvokeAsync("_ALBreadCrumbComponentPartial")

            @RenderBody()

        </main>
      
        @await Component.InvokeAsync("_ALSwitcherComponentPartial")

    </div>
    
    @await Component.InvokeAsync("_ALScriptComponentPartial")

</body>

</html>