<div class="comment__wrap pb-45">
    <div class="comment__wrap-title">
        <h5>Yorumlar</h5>
    </div>
    <div class="single__comment mb-35">
        <div class="comments-avatar">
            <img src="img/blog/comment/c_01.png" alt="">
        </div>
        <div class="comment-text">
            <div class="avatar-name mb-15">
                <h6>ALina Kelian</h6>
                <span>19th May 2021</span>
            </div>
            <p>The bee's knees bite your arm off bits and bobs he nicked it gosh gutted mate blimey, old off his nut argy bargy vagabond buggered dropped.</p>
            <a href="#" class="comment-reply mt-15"><i class="fas fa-reply"></i> Reply</a>
        </div>
    </div>
    <div class="single__comment children mb-35">
        <div class="comments-avatar">
            <img src="img/blog/comment/c_02.png" alt="">
        </div>
        <div class="comment-text">
            <div class="avatar-name mb-15">
                <h6>Rlex Kelian <i class="fas fa-bookmark"></i></h6>
                <span>19th May 2021</span>
            </div>
            <p>Do one say wind up buggered bobby bite your arm off gutted mate, David victoria sponge cup of char chap fanny around.</p>
            <a href="#" class="comment-reply mt-15"><i class="fas fa-reply"></i> Reply</a>
        </div>
    </div>
    <div class="single__comment">
        <div class="comments-avatar">
            <img src="img/blog/comment/c_03.png" alt="">
        </div>
        <div class="comment-text">
            <div class="avatar-name mb-15">
                <h6>Roboto Alex</h6>
                <span>21th May 2021</span>
            </div>
            <p>Baking cakes is cobblers wellies William geeza bits and bobs what a plonker it's your round,</p>
            <a href="#" class="comment-reply mt-15"><i class="fas fa-reply"></i> Reply</a>
        </div>
    </div>
</div>